<section class="section" style="margin-top: 100px">
    <div class="col-md-8 offset-md-3">
<div class="card" style="width: 18rem;" *ngFor="let universite of universites">
  <div class="card-body" >
    <h5 class="card-title">{{universite.nomUniv}}</h5>
  </div>

                      <button mat-fab (click)="openEditUniversiteDialog(universite)"
                        style="width: 30px;height: 30px;display: flex;justify-content: center;align-items: center;"
                        color="accent" aria-label="Example icon button with a delete icon">
                        <i style="font-size: 12px" class="bi bi-gear"></i>
                      </button>
</div>
<button
(click)="openAddUniversiteDialog()" mat-raised-button="" color="primary"
                  class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base m-2"
                  style="float: right;" >
                  <span class="mat-mdc-button-persistent-ripple mdc-button__ripple">
                  </span>
                  <i class="fa-solid fa-plus"></i><span class="mat-mdc-focus-indicator"></span>
                  <span matripple="" class="mat-ripple mat-mdc-button-ripple"></span
                  ><span class="mat-mdc-button-touch-target"></span>
              </button>

</div>
</section>
