<h2 class="card-title">Edit Departement</h2>

<form class="row g-3" [formGroup]="universiteForm">

  <div class="col-6 offset-3">
    <label class="form-label">Nom Departement</label>
    <div class="input-group mb-3">
      <input
        [ngClass]="{
          'input-invalid': nomUniv.touched && nomUniv.invalid,
          'input-valid': nomUniv.touched && nomUniv.valid
        }"
        type="text"
        class="form-control"
        formControlName="nomUniv"
        minlength="3"
        pattern="^[a-zA-Z ]*"
      />
      <div
        class="message-invalid"
        *ngIf="nomUniv.touched && nomUniv.hasError('required')">
        Nom  Departement Is Required
      </div>
      <div
        class="message-invalid"
        *ngIf="nomUniv.touched && nomUniv.hasError('pattern')">
        Nom  Departement doit être des lettres et commencant par departement
      </div>
      <div
        class="message-invalid"
        *ngIf="nomUniv.touched && nomUniv.hasError('minlength')">
      minlength 15 lettres
      </div>
      <!--success message-->
      <div class="message-valid" *ngIf="nomUniv.touched && !nomUniv.errors">
        Bien saisie!
      </div>
    </div>

  </div>

  <div class="text-center">
    <button
      (click)="upadteDepartement(receivedRow.universite.id)"
      type="submit"
      class="btn btn-primary mx-2"
      [disabled]="!universiteForm.valid"
    >
      <i class="fa-solid fa-pen-nib pe-2"></i>Edit
    </button>
    <button
      (click)="resetControls()"
      type="button"
      class="btn btn-warning mx-2"
    >
      <i class="fa-solid fa-broom pe-2"></i>
      Reset
    </button>
    <button (click)="closeDialog()" type="button" class="btn btn-danger">
      <i class="fa-solid fa-rotate-left pe-2"></i>
        Retour
      </button>
  </div>
</form>
<pre>
</pre>
